DB_URL=""
PLATFORM=""
JWT_SECRET=""
# Argon2id Password Hashing Configuration
# Memory value is 64 * 1024 (in KB)
ARGON2ID_MEMORY=""
ARGON2ID_ITERATIONS=""
ARGON2ID_PARALLELISM=""
ARGON2ID_SALT_LENGTH=""
ARGON2ID_KEY_LENGTH=""
